<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-img slot="start" src="assets/hvwlogo.png" style="height: 60px;"></ion-img>

    <ion-buttons slot="end" >
      <ion-button fill="solid" color="secondary" href="user">
        <ion-icon slot="end" name="person-circle"></ion-icon>
        Hallo User
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button fill="solid" color="secondary">
        Help
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">

</ion-content>
