<ion-header>

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-img slot="start" src="assets/hvwlogo.png" style="height: 60px;"></ion-img>

    <ion-buttons slot="end" >
      <ion-button fill="solid" color="secondary" href="user">
        <ion-icon slot="end" name="person-circle"></ion-icon>
        Hallo User
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button fill="solid" color="secondary">
        Help
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
<div class="ion-padding" id="team-facts" >
  <ion-buttons slot="start">
    <ion-back-button defaultHref="teams" text="Teams"></ion-back-button>
  </ion-buttons>
</div>

<div>

<ion-grid fixed>
  <ion-row id="dropdown" >
    <ion-button fill="clear" >
      <ion-icon name="filter-sharp"></ion-icon>
    </ion-button>

    <ion-item color="light">
      <ion-select multiple="true" placeholder="Jahr" style="margin-right: 50px;">
        <ion-select-option value="2020">2020</ion-select-option>
        <ion-select-option value="2019">2019</ion-select-option>
        <ion-select-option value="2018">2018</ion-select-option>
        <ion-select-option value="2017">2017</ion-select-option>
        <ion-select-option value="2016">2016</ion-select-option>
      </ion-select>
      <ion-select multiple="true" placeholder="Platzhalter" style="margin-right: 50px;">
        <ion-select-option value="option1">Option 1</ion-select-option>
        <ion-select-option value="option2">Option 2</ion-select-option>
      </ion-select>


    </ion-item>
  </ion-row>

  <ion-row>
    <ion-col size="4">

    </ion-col>
    <ion-col size="4">
      <ion-img src="assets/teamoverviewImg/verlauf.png" style="height: 100%;"></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img src="assets/teamoverviewImg/verlauf.png" style="height: 100%;"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-img src="assets/teamoverviewImg/overview.png" style="width: 100%; height: 100%;"></ion-img>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-img src="assets/teamoverviewImg/best.png" style="width: 100%; height: 100%;"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="assets/teamoverviewImg/worst.png" style="width: 100%; height: 100%;"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>
